.item{
  svg{
    font-size: 60px;
    color: dodgerblue;
    background-color: white;
    padding:10px;
    margin: 0 5px;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
      background-color: rgba(196, 197, 197, 0.22);
    }
  }
}