.item{
  svg{
    font-size: 60px;
    color: dodgerblue;
    background-color: white;
    padding:10px;
    margin: 0 5px;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
      background-color: rgba(196, 197, 197, 0.22);
    }
  }
}
@media screen and (max-width: 700px){
  .item{
    svg{
      font-size: 40px;
      color: rgba(10, 106, 215, 0.52);
    }
  }
}