//a{
//  color: black;
//}
.courseItems {
  height: 90vh;
  overflow: auto;
  //max-width: 60%;
  width: 100%;

  &::-webkit-scrollbar {
    background-color: rgba(180, 179, 179, 0.56);
    border-radius: 20px;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #494646;
    border-radius: 20px;

  }
  h3{
    padding-bottom: 3vh;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.77);
  }

  .active{
    background: rgba(5, 46, 122, 0.62) !important;
  }

}
.pagination{
  margin-top: 4vh;
}
@media screen and (max-width: 700px) {


}