* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, button, div, a, header, main, form, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registerComponentTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}


.registerComponent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 30px;
}
