.container {
  margin: 20px 0;
  height: 37rem;
  width: 30%;
  cursor: pointer;
  background-image: linear-gradient(163deg, rgba(31, 172, 192, 0.13) 0%, rgba(20, 162, 220, 0.3) 100%);
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;

  .containerWrapper {
    border-radius: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.45);
    transition: all 0.5s;

    &:hover {
      //transform: scale(0.98);
      border-radius: 20px;
    }

    .courseHeader {
      width: 100%;
      position: relative;


      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }

      .language {
        position: absolute;
        top: 10px;
        right: 10px;

        p {
          color: rgba(0, 0, 0, 0.53);
          background-color: rgba(255, 255, 255, 0.6);
          padding: 10px;
          border-radius: 10px;
          font-weight: bold;
        }
      }
    }

    .authorWrapper {
      position: absolute;
      top: 160px;
      left: 20px;
      display: flex;
      align-items: baseline;

      img {
        max-width: 70px;
        border-radius: 5px;
        border: 1px solid rgba(252, 248, 252, 0.6);
      }
    }

    .nameOfAuthor {
      padding-left: 3vh;
      //padding-top: 18px;

      p {
        padding-left: 15px;
        color: rgba(0, 0, 0, 0.68);
        font-weight: bold;
        max-width: 200px;
        font-size: 13px;
        height: 20px;
        overflow: hidden;
      }
    }
  }

  .imageWrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgba(22, 166, 189, 0.11);

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    h3 {
      letter-spacing: 1.5px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.67);
      font-size: 17px;
    }
  }

  .wrapper {
    padding: 20px;
    margin-top: 5px;

    .filterWrapper {
      height: 35px;
      overflow: hidden;
      margin-bottom: 1.9vh;
      //overflow: hidden;
      //height: 65px;

      h3 {
        font-size: 16px;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.9);
      }
    }

    .members {
      padding: 15px 5px;

      img {
        max-width: 50px;
        border-radius: 50%;
      }

      div {
        span {
          border: none !important;

        }
      }
    }
    .titleWrapper{
      padding-top: 4vh;
      h3{
        font-size: 17px;
        color: rgba(80, 140, 210, 0.78);
      }
    }
  }

  .infoWrapper {
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;

    p {
      text-align: center;
      padding: 10px 10px;
      border-radius: 5px;
    }

    .start {
      background-color: rgba(21, 173, 49, 0.44);
    }

    .finish {
      background-color: rgba(173, 21, 39, 0.57);
    }

    div {

    }
    .duration{
      color: #000000;
    }
  }

  .wrapperLevel {
    margin: 15px 0;
    display: flex;
    align-items: center;

    div {
      width: 100%;

      p {
        font-size: 15px;
      }
    }

    svg {
      font-size: 20px;
      padding-right: 5px;
    }

    .startDate {
      display: flex;
      justify-content: space-between;

      padding-bottom: 10px;
      font-weight: bold;
      color: rgba(10, 119, 119, 0.6);

      span {
        color: rgba(3, 3, 3, 0.73);
        font-weight: normal;
        //padding-left: 5vh;
      }

      .icon {
        display: flex;
        align-items: center;
        color: #070707;

        svg {
          font-size: 30px;
        }
      }

    }

    .finishDate {
      display: flex;
      justify-content: space-between;
      color: rgba(10, 119, 119, 0.6);
      font-weight: bold;

      span {
        color: rgba(3, 3, 3, 0.73);
        font-weight: normal;
        //padding-left: 5.5vh;

      }

      .icon {
        display: flex;
        align-items: center;
        color: #070707;

        svg {
          font-size: 30px;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 0px 30px 1px rgba(48, 50, 51, 0.42);
    border-radius: 20px;

    .author {
      border-radius: 0 0 20px 20px;
      transition: 1s all;
    }
  }

  .author {
    transition: 1s all;
    border-top: 1px solid rgba(180, 180, 180, 0.09);;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    justify-content: center;
    //margin-bottom: 10px;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-top: 5px;
    background: rgba(21, 186, 206, 0.25); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(13, 167, 185, 0.21), rgba(9, 193, 220, 0.14)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(13, 89, 143, 0.5), rgba(16, 200, 239, 0.14)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    img {
      max-width: 40px;
    }

    p {
      color: rgba(0, 0, 0, 0.82);
      font-weight: bold;
      font-size: 18px;
      padding: 10px 30px;
      //margin-left: 4vh;
    }
  }
}

