.container {
  margin-top: 5vh;
  header {
    padding: 50px 0 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 40px;
      font-weight: 600;
      color: dodgerblue;
      letter-spacing: 1px;
    }
    p{
      padding-top: 10px;
      //font-size: 17px;
      max-width: 700px;
      letter-spacing: 0.6px;
      text-align: center;
      color: #6b6666;
    }
  }

  section {
    background-color: white;
    border-radius: 15px;
    padding:20px;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}