
.container {
 height: 100%;
  //background: linear-gradient(to right, #434343, rgba(0, 0, 0, 0.91)) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .header {
    height: 50px;
  }

  main {
    width: 100%
  }
  aside{
    //width: 5rem; // it was  2 rem . But it crashed chat sidebar
  }
}