.container {
  display: flex;
  justify-content: space-between;
  position: relative;

  .wrapeprSelects {
    //max-width: 500px;
    width: 50%;

    .wrapperData {
      border: 1px solid rgba(28, 27, 27, 0.17);
      padding: 10px;
      border-radius: 5px;
      width: 100%;
    }

    .data {
      display: flex;
    }
  }

  .description {
    padding: 0 10px;
    width: 50%;
    margin-top: 2vh;

    .wrapperTextarea {
      margin-top: 1vh;
      border: 1px solid rgba(0, 0, 0, 0.22);
      border-radius: 5px;
      height: 80%;
      width: 90%;
      padding: 10px;

      textarea {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: rgb(255, 255, 255);
        border-radius: 5px 15px;
        padding: 5px;
        color: rgba(17, 17, 17, 0.99);
        letter-spacing: 1px;
        font-size: 16px;
        resize: none;

        &::placeholder {
          color: rgba(0, 0, 0, 0.74);
          font-size: 15px;
          line-height: 20px;
          letter-spacing: 0.5px;
        }
      }
    }

    label {
      color: rgba(0, 0, 0, 0.72);
      font-size: 17px;
      font-weight: bolder;
    }
  }
}

.move {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 30px;
  //max-width: 300px;
}

@media screen and (max-width: 700px) {
  .container {
    display: block;

    .move {
      position: relative;
      margin: 15px;
    }

    .description {
      width: 100%;
      height: 50%;
    }
    .wrapeprSelects{
      width: 100%;
    }
  }

}