.container {
  padding: 5px 10px;
  width: 100%;
  display: flex;
  align-items: center;


  .author {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .item {
    margin-left: 15px;
    .wrapperMessage {
      background: rgba(160, 161, 211, 0.32);
      .message{
        color: #ffffff;
      }
      .info{
        p{
          color: rgba(255, 255, 255, 0.56);
        }
      }
    }
  }

  .myItem {
    margin-right: 15px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
  }

  .time {
    color: rgba(241, 241, 241, 0.56);
    font-size: 11px;
    //padding-left: 5vh;
  }

  .message {
    color: #f1f1f1;
  }
}

.info {
  padding-top: 10px;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: space-between;


  p {
    color: rgba(241, 241, 241, 0.56);
    font-size: 12px;
  }
}

.wrapperMessage {
  background: rgba(3, 15, 70, 0.68);
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  max-width: 400px;
  min-width: 200px;
}







