.container {
  width: 100%;
}

.item {
  color: rgba(38, 115, 201, 0.73);
  font-family: "Consolas";
  background: rgba(0, 210, 255, 0.15);
  background: -webkit-linear-gradient(to right, rgba(146, 141, 171, 0.07), rgba(0, 210, 255, 0.15));
  background: linear-gradient(to right, rgba(146, 141, 171, 0.12), rgba(0, 210, 255, 0.13));
  border-radius: 25px 15px 45px;
  position: relative;
  width: 100%;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
  padding: 15px 30px;
  transition: 1s;
  display: flex;
  align-items: center;

  svg {
    rotate: -45deg;
    padding-left: 2vh;
    font-size: 50px;
    padding-top: 15px;
  }

  .buttonLine {
    position: absolute;
    display: block;
  }

  .top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);


  }

  .bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);
  }
  .right {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);
  }

  .left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff);


  }

  &:hover {
    background: rgba(0, 210, 255, 0.51);
    background: -webkit-linear-gradient(to right, rgba(146, 141, 171, 0.07), rgba(0, 210, 255, 0.49));
    background: linear-gradient(to right, rgba(146, 141, 171, 0.11), rgba(0, 210, 255, 0.15));

    border-radius: 5px 15px;
    transition: 2s ease-in-out;

    .top {
      left: 100%;
      transition: 2s;
      transition-delay: 0.25s;
    }

    .bottom {
      right: 100%;
      transition: 2s;
      transition-delay: 0.25s;
    }

    .right {
      top: 100%;
      transition: 2s;
      transition-delay: 0.25s;
    }

    .left {
      bottom: 100%;
      transition: 2s;
      transition-delay: 0.25s;
    }
  }
}

