.wrapperText {
  width: 55%;

  h1 {
    max-width: 80%;
    font-size: 45px;
    line-height: 80px;

    span {
      color: rgba(12, 60, 218, 0.61);
      font-style: italic;
    }
  }

  .wrapperType {

    padding-left: 40vh;
    color: rgba(12, 60, 218, 0.61);

    span {
      border-top: 2px solid rgba(19, 64, 238, 0.1);
      font-size: 45px !important;
      font-style: italic;
      font-weight: bolder;
    }
  }

  .wrapperInfo {
    padding: 5vh 0;

    p {
      max-width: 600px;
      font-size: 18px;
      color: rgba(54, 86, 152, 0.68);
    }
  }
  .wrapperButton{
    //padding-left: 30vh;
  }
}