.skeletonAuthor{
  display: flex;
  align-items: center;
}
.skeletonProcess{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skeletonHeader{
  padding:  15px 0;
}
.skeletonSideInfo{
  display: flex;
  max-width: 1200px;
  padding-top: 15px;
  justify-content: space-between;
}