.container {
  width: 100%;
  padding-left: 14rem;
  height: 100vh;

  .containerHeader {
    padding: 20px;
    display: flex;

    .wrapperImage {
      position: relative;
      width: 100%;
      max-width: 400px;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0 0 20px 20px;
      }
    }
  }
  .stepsWrapper {
    margin: 3vh 0;
    padding: 3vh 0;
  }
  .main {
    padding-left: 4vh;
    padding-top: 5vh;


    .wrapperDescription {
      display: flex;
      justify-content: space-between;
    }
  }

  .wrapperSideInfo {
    width: 40%;

    div {
      padding-bottom: 4vh;

      img {
        padding-right: 3vh;
        max-width: 50px;
      }
    }
  }
}

