.container{

  margin-top: 10vh;
  header{
    text-align: center;
    h1 {
      font-size: 40px;
      font-weight: 600;
      color: dodgerblue;
    }

    p {
      color: rgba(0, 0, 0, 0.6);
      padding-top: 10px;
      font-size: 20px;
    }
  }

  section{

    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    .wrapper{
      margin-top: 50px;
    }
  }
}
