.container {
  display: flex;
  align-items: center;
  padding: 20px 0;

  .iconWrapper {
    margin-right: 2vh;
    //background-color: rgb(30 144 255 / 11%);
    padding: 15px;
    border-radius: 32px 15px;;

    svg {
      font-size: 50px;
      color: dodgerblue !important;
    }
  }

  .info {
    .title {
      padding-bottom: 5px;
      font-size: 20px;
      letter-spacing: 0.9px;
      font-weight: 500;
      color: dodgerblue;
    }

    .text {
      color: rgba(0, 0, 0, 0.66);
      font-size: 16px;
    }
  }

}

@media screen and (max-width: 700px){

}