.areaText {
  position: relative;
  padding: 10px;
  font-style: italic;
}

.textArea {
  outline: none;
  border: 1px solid darkcyan;
  border-radius: 10px;
  resize: none;
  padding: 25px;
  font-size: large;
  width: 90%;
  height: 17rem;
}