* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, button, div, a, header, main, form, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registerComponentTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}


.registerComponent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 30px;
}
.registerGoogle, .registerFacebook, .registerApple {

    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    border-radius: 23px;
    margin-top: 7px;

}
.registerFacebook {
    padding-right: 73px;
}
.registerGoogle {
    padding-right: 88.5px;

}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px  
}

.registerImg {
    max-width: 800px;
    height: 600px;
}

.registerBtnIcon {
    width: 20px;

    margin-left: -80px;
    margin-right: 50px;
}

.registerGoogle {
    background-color: rgba(0, 0, 255, 0.653);
    transition: 0.3s;
}

.registerGoogle:hover {
    background-color: rgb(0, 0, 255);
}

.registerFacebook {
    background-color:rgba(33, 44, 116, 0.747);
    transition: 0.3s;
}

.registerFacebook:hover {
    background-color:rgb(33, 44, 116);
    transition: 0.3s;
}

.registerApple {
    background-color: rgba(0, 0, 0, 0.804);
    transition: 0.3s;
}

.registerApple:hover {
    background-color: rgba(0, 0, 0, 0.973);
    transition: 0.3s;
}

.registerBtnText {
    color: #fff;
    font-size: 15px;
}

.formContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.blockInput {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 10px;
}

.inputRegister {
    padding: 7px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    max-width: 360px;
    font-size: 14px;

}

.inputRegister::after {
    border-top: none;
    border-left: none;
    border-right: none;
}

.linkInLogin {
    margin-left: 3px;
    color: blue;
}

.formSubmit {
    border: none;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0, 0, 255, 0.653);
    transition: 0.3s;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}

.formSubmit:hover {
    background-color: rgb(0, 0, 255);
}


.orBlock {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.or {
    width: 155px;
}