.containerHeader {
  padding: 20px;
  display: flex;

  .wrapperImage {
    position: relative;
    width: 100%;
    max-width: 400px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }
  }
}

.headerTitle {
  width: 100%;
  //border-bottom: 3px solid rgba(37, 174, 222, 0.12);
  border-radius: 20px;
  padding-left: 2vh;

  .wrapperTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      padding: 10px 45px;
      font-size: 16px;
      border-radius: 5px 15px 15px;
      letter-spacing: 1px;
      background: rgba(0, 0, 0, 0.07);
      cursor: pointer;
      color: rgba(7, 7, 7, 0.69);
      animation-name: color-change;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(17, 86, 136, 0.4) 0px 2px 6px 2px;

      &:hover {
        color: #f1f1f1;
      }
    }
  }

  .image {
    display: flex;
    align-items: center;
    padding-top: 3vh;
    position: relative;

    img {

      margin-right: 2vh;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      z-index: 1;
    }

    .teacherToga {
      position: absolute;
      top: -2px;
      left:17px;
      rotate: 30deg;
      img{
        width: 70px;
        padding-bottom: 20px;
      }
    }
  }

  h1 {
    color: dodgerblue;
  }
}

.stepsWrapper {
  margin: 3vh 0;
  padding: 3vh 0;
}

@media screen and (max-width: 700px) {
  .headerTitle{
   h1{
     font-size: 22px;
   }
  }
  .image{
    img{
      width: 50px !important;
      height: 50px !important;
    }
    .teacherToga{
      top:2px !important;
      left: 10px !important;
    }
  }
}