.container{

  position: relative;
  .backButton{
    position: absolute;
    top:-120px;
    img{
      rotate: 180deg;
      max-width: 40px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 700px){
.container{
  padding: 5px;
}
}