.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 10px;

  .icon {
    color: black;
    padding: 15px;
    border-radius: 36px 13px;
    cursor: pointer;

    &:hover {
      color: dodgerblue;
    }

    svg {
      font-size: 30px;
    }
  }

  .question {
    font-size: 20px;
    padding-left: 2vh;
    color: #000000;
  }
}

.answerWrapper {
  height: 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
  border-bottom: 1px solid rgba(37, 38, 38, 0.15);
  border-radius: 5px 15px;
  margin-bottom: 5px;

  p {
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(21, 21, 21, 0.68);
    padding-left: 7vh;
  }
}

.openAnswer {
  display: block;
  height: 70px;
  transition: 0.2s ease-in-out;
  opacity: 1;
}
@media screen and (max-width: 700px){
.question{
  font-size: 15px !important;
}
  .answerWrapper{
    p{
      font-size: 13px;
    }
  }
}

