.wrapper {
  p {
    cursor: pointer;
    color: black;
  }
  svg{
    margin-right: 5px;
    font-size: 20px;
  }

  span {
    //transition: 1s ease-in-out;
    display: block;

    width: 100%;
    //border-bottom: 1px solid rgba(106, 107, 108, 0.21);
    //padding-bottom: 1vh;

    margin-bottom: 2vh;
  }

  .show {
    overflow: visible;
    width: 100%;
    opacity: 1;
    transition: 0.5s ease-in-out;
  }

  .hidden {
    overflow: hidden;
    width: 0;
    height: 0;
    display: block;
    //opacity: 0;
  }
  .topic{
    display: flex;
    justify-content: space-between;
    svg{
      transition: 0.3s ease-in-out;

      rotate: 43deg;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.96);
    }
    p{
      font-size: 18px;
      color: rgb(0, 0, 0);
    }
  }
  .open{
    rotate: 224deg !important;
    color: rgba(147, 147, 147, 0.56) !important;
  }
  span{
    color: rgba(64, 69, 70, 0.75);
    padding: 3vh 0 ;
    letter-spacing: 0.5px;
  }
}