.header {
  z-index: 5;
  margin: 0 auto 50px;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  //background-color: rgba(21, 21, 21, 0.99);
  backdrop-filter: blur(1px);
  border-bottom: 1px solid dodgerblue;
}

.headerInner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navList {

  display: flex;
  gap: 15px;
  li {
    a {
      transition: .4s all;

      &:hover {
        color: dodgerblue;
      }
    }
  }
}

.iconBlock {
  a {
    //color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  gap: 9px;
  align-items: center;
  display: flex;
}
