.container {
  display: flex;
  align-items: self-end;

  p {
    color: #ffffff !important;
  }

  div {
    width: 100%;

    span {
      color: rgb(222, 211, 211);
      font-size: 10px;
      display: flex;
      margin-left: 4vh;
      justify-content: end;
    }
  }

  .message {
    span {

    }
  }

}