.container{
  h3{
    text-align: center;
    color: #f1f1f1 !important;
    font-size: 13px;
  }
}

.myMessage {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-flow: row-reverse;
  //p {
  //  background-color: rgba(241, 241, 241, 0.21);
  //  border-radius: 5px 50px 5px 5px;
  //  //width: auto !important;
  //  padding: 10px 25px;
  //  margin-bottom: 5px;
  //}
  img {
    margin-left: 2vh !important;
  }

  .messageItems {
    //text-align: right;
    background-color: #494646;
    padding: 10px 20px;
    border-radius: 10px 0 30px;
    min-width: 100px;
    max-width: 300px;
    margin: 20px 0;

  }
}
.message {
  width: max-content;
  //max-width: 40%;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;


  p {
    //max-width: 60vh;
    //padding: 10px 25px;
    //background-color: rgba(0, 0, 0, 0.49);
    //border-radius: 50px 5px 5px 5px;
    //margin-bottom: 5px;
  }

  .messageItems {
    margin: 20px 0;
    background-color: #494646;
    padding: 10px 20px;
    border-radius:  0 10px  0 30px;
    min-width: 100px;
    max-width: 300px;
  }
}
.date{
  text-align: center;
}