.buttonsTwo {
    display: flex;
    padding: 20px;
    gap: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.title {
    color : dodgerblue;
    margin: 50px 0;
}

.wholeContent {
    padding: 40px 10px ;
}

@media (max-width: 700px) {
    .title {
        text-align: center;
    }
    .wholeContent {
        padding: 1px 10px;
    }
    .buttonsTwo {
        position: unset;
        gap: 0;
    }

}