.wrapperLevel {
  margin: 15px 0;
  display: flex;
  align-items: center;

  div {
    width: 100%;

    p {
      font-size: 15px;
    }
  }

  svg {
    font-size: 20px;
    padding-right: 5px;
  }

  .startDate {
    display: flex;
    justify-content: space-between;

    padding-bottom: 10px;
    font-weight: bold;
    color: rgba(10, 119, 119, 0.6);

    span {
      color: rgba(3, 3, 3, 0.73);
      font-weight: normal;
    }

    .icon {
      display: flex;
      align-items: center;
      color: #070707;

      svg {
        font-size: 30px;
      }
    }

  }

  .finishDate {
    display: flex;
    justify-content: space-between;
    color: rgba(10, 119, 119, 0.6);
    font-weight: bold;

    span {
      color: rgba(3, 3, 3, 0.73);
      font-weight: normal;
    }

    .icon {
      display: flex;
      align-items: center;
      color: #070707;

      svg {
        font-size: 30px;
      }
    }
  }
}
.author {
  transition: 1s all;
  border-top: 1px solid rgba(180, 180, 180, 0.09);;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  justify-content: center;
  //margin-bottom: 10px;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-top: 5px;
  img {
    max-width: 40px;
  }

  p {
    color: rgba(0, 0, 0, 0.82);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 30px;
  }
}
.start {
  background-color: rgba(21, 173, 49, 0.44);
}

.finish {
  background-color: rgba(173, 21, 39, 0.57);
}

.date {
  margin-top: 2rem;
}
.dateWrapper {
  align-items: center;
  display: flex;
  gap: 15px;
}