.container {
  position: relative;
  //background-color: rgba(126, 173, 206, 0.06);
  padding: 15px;
  transition: 1s ease-in-out;


  .textItem {
    font-size: 25px;
    font-weight: 900;
    //color: dodgerblue;
    padding: 0 30px;
    cursor: pointer;
    //transition: 1s ease-in-out;

  }

  .sliderItems {
    margin: 15vh 0 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
  }

  .wrapperIcon {
    position: absolute;
    left: 50%;
    top: -50px;

    img {
      max-width: 100px;
    }
  }
  .wrapperButton{
   text-align: center;

    div{
      a{
        background: white;
        border-radius: 55px;
        border-top: 1px solid rgba(7, 151, 204, 0.28);
        transition: 1s ease-in-out;
        &:hover{
          border-top: 1px solid transparent;
          transition: 1s ease-in-out;
        }
      }

    }
  }
}

.active {
  border: 1px solid dodgerblue;
  font-size: 25px;
  border-radius:10px;
  font-weight: 900;
  padding: 15px;
  cursor: pointer;
  color: dodgerblue;
}