.search{
  padding: 5px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 25px auto;
  svg{
    font-size: 25px;
    margin:  0 10px ;
  }
}

.coursesContainer {
  margin-top: 15px;
  overflow: auto;
}

@media screen and (min-width:701px )  {
.container{
  display: none;
}
.search{
  display: none;
}
}

