.container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding-left: 6rem;


  .wrapperChat {

    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding-right: 1rem;
    border-radius: 5px;


    .wrapperTextarea {

      position: absolute;
      bottom: 7px;
      width: 98.6%;
      height: 70px;
      //border: 1px solid rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      border: 2px solid rgba(63, 65, 66, 0.16);
      background-color: rgba(254, 255, 255, 0.22);
      padding: 10px;
      //left: 3.7vh;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .textarea {
        background-color: rgba(63, 63, 65, 0.16);
        width: 100%;
        //padding: 10px;
        border-radius: 15px;
        display: flex;
        align-items: end;
        height: 6vh;
        padding: 5px 10px;


        textarea {
          outline: none;
          color: rgba(35, 35, 35, 0.8);
          display: flex;
          align-items: center;
          justify-content: center;
          resize: none;
          width: 100%;
          background-color: transparent;
          border: none;

          &::placeholder {
            color: rgba(21, 20, 20, 0.75);
          }
        }
      }


      .icons {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        svg {
          cursor: pointer;
          font-size: 30px;
        }
      }

      svg {
        font-size: 35px;
        color: rgba(74, 156, 201, 0.62);
      }


    }

    h2 {
      //border-bottom: 2px solid rgba(0, 0, 0, 0.13);;
      padding: 20px 5px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.6);

      span {
        //padding-right: 4vh;
        color: rgba(24, 156, 208, 0.84);
        font-size: 20px;
        letter-spacing: 1.5px;
        border-bottom: 2px solid rgba(8, 138, 178, 0.19);
      }
    }

    .contentMessage {
      border-radius: 5px;
      background-size: cover !important;
      background-repeat: no-repeat !important;

      width: 100%;
      height: 80vh;

      overflow-y: auto;
      padding: 20px;

      &::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0.56);
        border-radius: 20px;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #494646;
        border-radius: 20px;

      }

      .wrapperMessages {
        //width: 100%;
        div {
          p {
            font-size: 14px;
            color: #f1f1f1;
          }

          img {
            max-width: 50px;
            max-height: 50px;
            border-radius: 50%;
            margin-right: 2vh;
            object-fit: cover;
          }

          .messageItems {
            span {
              color: rgba(129, 128, 128, 0.57);
              font-size: 13px;
            }
          }
        }

      }

      .message {
        width: max-content;
        //max-width: 40%;
        display: flex;
        justify-content: left;
        margin-bottom: 20px;


        p {
          max-width: 60vh;
          padding: 10px 25px;
          background-color: rgba(0, 0, 0, 0.49);
          border-radius: 50px 5px 5px 5px;
          margin-bottom: 5px;
        }

        .messageItems {

        }
      }

      .myMessage {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: end;
        flex-flow: row-reverse;


        p {
          background-color: rgba(241, 241, 241, 0.21);
          border-radius: 5px 50px 5px 5px;
          //width: auto !important;
          padding: 10px 25px;
          margin-bottom: 5px;
        }

        img {
          margin-left: 2vh !important;
        }

        .messageItems {
          text-align: right;

        }
      }
    }
  }

  .wrapperMebmers {
    width: 20%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .members {
      position: absolute;
      bottom: 0;
      height: 91.5%;

      border-radius: 5px;
      padding: 25px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.13);
    }
  }
}

