.container {
  display: flex;
  height: 100vh;
  width: 100%;
  //padding-left: 5rem;
  position: relative;


  .wrapperMebmers {

    transition: 0.3s ease-in-out;
    background-color: #1f1d2b;
    width: 35%;
    height: 100%;
    //padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .members {
      overflow: hidden;
      transition: 0.3s ease-in-out;
      padding: 10px 20px;
      height: 100%;
      border-radius: 5px;
      width: 100%;

      div {
        transition: 0.3s ease-in-out;

        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1vh;
          cursor: pointer;
          color: #000000;
          font-size: 18px;
          border-radius: 10px;

          svg {
            rotate: -135deg;
            padding-left: 1vh;
            font-size: 35px;
            color: rgba(52, 195, 236, 0.43);
            transition: 0.5s ease-in-out;
          }

          &:hover {
            transition: 0.3s ease-in-out;
            color: #268db4;
          }
        }

        .arrowUp {
          rotate: 42deg;
          color: rgba(14, 78, 192, 0.66);
        }
      }
    }
  }

  .hide {
    transition: 0.3s ease-in-out;
    width: 10%;
    background-color: #1f1d2b;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .wrapper {
      display: none;
    }

    .wrapperItems {
      transition: 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    .wrapperIconsMember {
      overflow: hidden;
      background-color: #f8f8f8;
      //padding: 10px 30px;
      //width: 33%;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      width: 100%;
      padding: 0;
      margin: 5px 10px;

      &:hover {
        background-color: rgba(239, 239, 239, 0.91);
      }

      svg {
        font-size: 40px;
        color: #0c3cda;
        padding: 10px;
      }
    }

    .members {
    }
  }

  .membersWrapper {
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 68vh;
    overflow-y: auto;
    padding: 10px;
    transition: 0.5s ease-in-out;

    &::-webkit-scrollbar {
      background-color: rgba(96, 95, 95, 0.56);
      border-radius: 20px;
      width: 3px;
    }

  }

  .hiddenMembers {
    opacity: 0;
    height: 0;
    overflow-y: hidden !important;
  }
}

.wrapperItems {
  display: flex;
  justify-content: space-around;
  margin-left: 2vh;
}

.wrapperIconsMember {
  background-color: #ffffff;
  padding: 10px 10px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: rgba(239, 239, 239, 0.91);
  }

  svg {
    font-size: 30px;
    color: #0c3cda;
  }
}

.memberItems {
  background-color: #f1f1f1;
  overflow: auto;
  height: 78.8vh;
  margin-top: 3vh;

  h3 {
    background-color: #1f1d2b;
    padding: 10px 15px;
    border: 1px solid rgba(152, 150, 150, 0.42);
    color: rgba(210, 209, 209, 0.9);
  }

  .items {
    padding: 5px 15px;
    margin: 0 !important;
  }

  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 20px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #494646;
    border-radius: 20px;

  }

}

.activeItem {
  background-color: #1f1d2b;
}

.hideBlock {
  position: absolute;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  top: 0;
  left: -20px;

  svg {
    font-size: 40px;
    background-color: #ffffff;
    padding: 5px 0;
    color: #090909;
    border-radius: 55px;
  }
}

.reverseIcons {
  rotate: 180deg !important;
  top: -5px;
}

@media screen and (max-width: 700px) {
  .container{
    height: calc(100vh - 31px);
  }
  .wrapperMebmers {
    display: none;
  }
  .members{
    display: none;
  }
  .hideBlock{
    display: none;
  }
  .hide{
    display: none !important;
  }

}


