.containerImages {
  width: 45%;
  position: relative;
  img {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    outline: none;
    cursor: pointer;
    box-shadow: rgb(32 96 159 / 62%) 16px 49px 69px 6px;
  }

  .firstImage {
    position: absolute;
    img {
      border-radius: 15px 15px 5px 105px;
    }
  }

  .secondImage {
    position: absolute;
    left: 25vh;
    top: 3vh;

    img {
      border-radius: 115px 15px 5px 15px;
    }
  }

  .thirdImage {
    position: absolute;
    left: 50vh;
    img {
      border-radius: 15px 15px 5px 115px;
    }
  }
}