.span {
  color: dodgerblue;
}
.card {
  padding: 20px;
  width: 17rem;
  height: 100%;
  border-radius: 15px;
  transition: .2s linear;
  cursor: pointer;
  border: 1px #151515 dotted;
  &:hover {
    transform: translateY(-9px);
    border: 1px dodgerblue solid;
  }
  &:active {
    transform: translateY(16px);
  }
}
.avatar {
  margin-bottom: 1rem;
}

.languagesBlock {
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 25px;
  display: flex;
  margin-bottom: 20px;
}
.languages {
  color : white;
  padding: 10px 15px;
  border-radius: 10px;
}