
.container {
  text-align: center;
  width: 50%;


  p {
    font-size: 25px;
    color: dodgerblue;
  }

  .box {
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
    border-radius: 10px;
    border: 1px solid  dodgerblue;;
    //box-shadow: 0 70px 40px -20px rgba(30, 144, 255, 0.06);
    transition: 0.4s ease-in-out transform;
    cursor: pointer;
    height: 200px;
    justify-content: center;
    padding: 10px;
    margin-top: 2vh;

    &:hover {
      transform: translate3d(0px, 0px, -250px);
    }
    svg{
      color: dodgerblue !important;
    }
  }

  .listWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      li {
        display: flex;
        align-items: center;
        font-size: 19px;
        padding: 5px;
        color: rgb(0, 0, 0);

        svg {
          font-size: 30px;
          color: dodgerblue !important;
          padding-right: 1vh;
        }
      }
    }

    .navigateArrow {
      width: 50%;

      svg {
        font-size: 50px;
        rotate: -45deg;
        color: dodgerblue !important;
        transition: 1s ease-in-out;
        //animation: color-change 2s infinite;
      }
    }
  }
}

@keyframes color-change {
  0% {
    color: rgba(37, 150, 222, 0.87);
  }
  50% {
    color: #064b83;
  }
  100% {
    color: rgba(37, 150, 222, 0.87);
  }
}


@media screen and (max-width: 700px){
  .container{

      h1{
        font-size: 25px !important;
      }
      p{
        font-size: 20px !important;
      }
    }
  .listWrapper{
    ul{
      display: none;
    }
  }
  .navigateArrow{
    width: 100% !important;
    text-align: center;
  }

}