.container {
  max-width: calc(1300px - 18rem);
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //gap: 20px;

  .coursesWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6px;
    justify-content: space-between;

    width: 100%;
  }

  .searchWrapper {
    padding-top: 1vh;
    margin: 0 auto;
    width: 100%;

  }

  .titleWrapper {
    padding-top: 1vh;
    margin: 0 auto;
    text-align: end;
    width: 100%;
  }

  .paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

