.container {
  padding: 15px;
  height: 89vh;
  margin-top: 10vh;
  position: relative;

  .header {
    height: 50px;
  }

  h1 {
    margin: 0;
  }
  .wrapperOverview {
    margin-top: 2vh;
  }

  .scrollUp {
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right: 110px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 1;
    display: none;
    svg {
      //rotate: -137deg;
      font-size: 50px;
      color: dodgerblue;
      transition: 0.2s ease-in-out;
      //border: 1px solid dodgerblue;
      border-radius: 5px;
    }

    &:hover {
      svg {
        color: rgba(30, 144, 255, 0.64);
      }
    }
  }

  .showScroll {
    opacity: 1;
    display: block;
  }
}
.wrapperInfo{
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    //letter-spacing: 1px;
    line-height: 30px;
    max-width: 600px;
    text-align: center;
    span{
      color: dodgerblue;
    }
  }
}
.wrapperQuestion {
  //background-color: rgba(126, 173, 206, 0.06);

  header {
    text-align: center;
    padding: 50px 0;

    h1 {
      font-size: 40px;
      font-weight: 600;
      color: dodgerblue;
    }

    p {
      color: rgba(0, 0, 0, 0.6);
      padding-top: 10px;
      font-size: 20px;
    }
  }
;
}

@keyframes color-change {
  0% {
    font-size: 40px;
  }
  50% {
    font-size: 50px;
  }
  100% {
    font-size: 40px;
  }
}


